<div class="w-screen flex justify-center flex-col mt-20">
  <!-- <div class="flex justify-center">
    <div class="max-w-xl flex justify-end w-2/3">
      <p class="font-sans font-bold text-rose-600 text-xl mt-1 max-w-xs">STEM</p>
      <p class="font-mono text-sky-600 text-3xl">ИГРА</p>
    </div>
  </div> -->

  <div class="flex justify-center">
    <div class="relative border-4 border-sky-500 rounded-lg max-w-5xl w-fit">
      <div class="mx-24">
        <div class="flex justify-center pt-5 ">
        <div class="flex justify-center bg-sky-200 py-2 px-16 rounded-xl max-w-xl">
          <div class="text-center text-blue-900 font-medium">
            <p class="leading-7 text-2xl font-bold">
              {{isSignup ? 'Регистрация' : 'Вход' }}
            </p>
            <br>
            <div class="flex flex-col justify-center w-60">
              <form [formGroup]="signupForm" (submit)="onFormSubmit()">
                <div class="mt-3">
                  <label for="playerName" class="font-extralight">Име</label>
                  <input type="text" name="" id="playerName" class="w-full rounded-full px-3 py-1" formControlName="name">
                </div>
                <div class="mt-3">
                  <label for="playerEmail" class="font-extralight">Email</label>
                  <input type="email" name="" id="playerEmail" class="w-full rounded-full px-3 py-1" formControlName="email">
                </div>
                <div class="mt-3">
                  <label for="playerPassword" class="font-extralight">Парола</label>
                  <input type="password" name="" id="playerPassword" class="w-full rounded-full px-3 py-1" formControlName="password">
                </div>

                <button stemGameDisableButtonStyle [disable]="!signupForm.valid" type="submit" class="my-7 w-36 bg-blue-800 rounded-full text-white" [disabled]="!signupForm.valid">
                  <p class="my-2">
                    {{isSignup ? 'Регистрация' : 'Вход' }}
                  </p>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="flex justify-center my-3">
        <div class="text-center">
          <button class="text-sky-500 p-2 hover:scale-110 duration-200" (click)="onChangeMode()">{{!isSignup ? 'Регистрация' : 'Вход' }}</button>
        </div>
      </div>
      </div>

    </div>
</div>
