<stem-game-content-border>
  <div class="mx-24 mt-5">
    <div class="flex flex-col justify-center">
      <div class="flex flex-row justify-center">
        <p class="text-4xl font-bold text-rose-600 mt-auto">STEM</p>
        <p class="text-6xl text-blue-600">ИГРА</p>
      </div>

      <!-- <div class="flex flex-row justify-center">
        <img src="../../../../assets/imgs/stem.png" class="h-10 w-auto mt-auto" alt="STEM">
        <img src="../../../../assets/imgs/igra.png" class="h-14 w-auto" alt="game">
      </div> -->

      <div class="flex justify-center rounded-xl bg-sky-200 py-2 px-16 mt-5">
        <div class="max-w-3xl text-center font-medium text-blue-900">
          <p class="leading-7">
            Здравейте!<br /><br />
            Добре дошли в играта на Професионална гимназия по компютърно моделиране и компютърни системи за STEM изследователи!<br /><br />
            Регистрирай за отделните модули от тук:
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-center mt-5">
        <button class="w-36 mx-auto p-2 text-sky-500" [routerLink]="['/signup']"><p class="my-2">Регистрация</p></button>
        <button class="mb-4  w-36 rounded-full bg-blue-800 text-white mx-auto" [routerLink]="['/login']">
          <p class="my-2">Вход</p>
        </button>
      </div>
    </div>
  </div>
</stem-game-content-border>
